.MuiStepper-root {
  &.MuiStepper-vertical {
    .MuiStep-root .MuiStepButton-root {
      width: auto !important;
      .MuiStepLabel-root {
        .MuiStepLabel-labelContainer .MuiStepLabel-label {
          font-size: 14px !important;
          line-height: 21px;
          font-weight: 600;
          color: #4f4f4f;
          &.Mui-active {
            color: #333333 !important;
          }
        }

        .MuiStepLabel-iconContainer {
          .MuiSvgIcon-root {
            color: #828282;
            &.Mui-active {
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}

.MuiStepLabel-labelContainer .MuiStepLabel-label {
  font-size: 14px !important;
}

.MuiStepLabel-iconContainer .MuiStepIcon-root {
  height: 18px;
  width: 18px;
}
