::-webkit-scrollbar-track {
  background: #f5f7f8;
  border-left: 1px solid #dadcde;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: inherit;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 4px;
}