@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #2D64BC;
  --secondary-color: #a9a9a9;
  --primary-text-color: #2A2D33;
  --secondary-text-color: #A5AAAA;
  --primary-hover-color: #8A8D8D;
  --Gray1: #333333;
  --Gray2: #4F4F4F;
  --Gray3: #828282;
  --Gray4: #2A2D33;
  --Gray5: #E0E0E0;
  --bg-input: #EAF0F0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Epilogue', 'sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
  margin: 0;
  font-size: 14px;
  font-family: Poppins;
}

/* div, p, span, label, button, input, textarea, h1, h2, h3, h4, h5, h6, li, ul {
  font-family: Poppins;
} */
